@import "../abstracts/variables";

.footer {
  background: $black-color;
  padding: 60px 0 30px;
  .foot {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    gap: 110px;
    &__textsDiv {
      &__topDiv {
        display: flex;
        flex-wrap: wrap;
        align-items: center;
        justify-content: center;
        gap: 60px;
        list-style: none;
        li {
          color: #fff;
          font-family: Roboto;
          font-size: 12px;
          font-style: normal;
          font-weight: 700;
          line-height: normal;
          text-transform: uppercase;
        }
      }
      &__bottomDiv {
        display: flex;
        justify-content: center;
        gap: 40px;
        flex-wrap: wrap;
        margin-top: 30px;
        .botDivtext {
          color: #fff;
          font-family: Roboto;
          font-size: 15px;
          font-style: normal;
          font-weight: 400;
          line-height: 20px;
        }
        .rightDiv {
          margin-left: 68px;
        }
      }
    }
  }
}

@media screen and (max-width: 320px) {
  .footer {
    .foot {
      &__textsDiv {
        &__topDiv {
          text-align: center;
          li {
            width: 120px;
          }
        }
        &__bottomDiv {
          text-align: center;
          .rightDiv {
            margin-left: 0;
          }
        }
      }
    }
  }
}
