* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

.container {
  max-width: 1200px;
  margin: 0 auto;
}

.navbar {
  background: #f3f4f6;
}
.navbar .container {
  max-width: 1200px;
  margin: 0 auto;
}
.navbar .container .nav {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 45px 0;
}
.navbar .container .nav__navRight {
  display: flex;
  gap: 30px;
}
.navbar .container .nav__navRight__Links {
  display: flex;
  align-items: center;
  gap: 20px;
}
.navbar .container .nav__navRight__Links .Links__Link {
  color: #21282f;
  font-family: Roboto;
  font-size: 17px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  text-decoration: none;
}
.navbar .container .nav__navRight__Links .Links__Link:active {
  color: #f4545a;
}
.navbar .container .nav__navRight__Buttons {
  display: flex;
  align-items: center;
  gap: 20px;
}
.navbar .container .nav__navRight__Buttons .blackButton {
  color: #fff;
  border-radius: 35.616px;
  background: #2d404e;
  padding: 10px 40px;
  border: none;
  font-family: Roboto;
  font-size: 17px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}
.navbar .container .nav__navRight__Buttons .blackButton:hover {
  cursor: pointer;
}
.navbar .container .nav__navRight__Buttons .whiteButton {
  border-radius: 35.616px;
  background: #2d404e;
  padding: 10px 40px;
  border: none;
  font-family: Roboto;
  font-size: 17px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  background: #f3f4f6;
}
.navbar .container .nav__navRight__Buttons .whiteButton:hover {
  cursor: pointer;
}

@media screen and (max-width: 1240px) {
  .container {
    padding: 0 30px;
  }
}
@media screen and (min-width: 1100px) {
  .icon {
    display: none;
  }
}
@media screen and (max-width: 1100px) {
  .icon {
    border: none;
    background: transparent;
    padding: 5px;
  }
  .icon:hover {
    cursor: pointer;
  }
  .navbar .container .nav__navRight__Links {
    display: none;
  }
}
@media screen and (max-width: 640px) {
  .navbar .container .nav__navRight__Buttons {
    display: none;
  }
}
.footer {
  background: #2d404e;
  padding: 60px 0 30px;
}
.footer .foot {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  gap: 110px;
}
.footer .foot__textsDiv__topDiv {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  gap: 60px;
  list-style: none;
}
.footer .foot__textsDiv__topDiv li {
  color: #fff;
  font-family: Roboto;
  font-size: 12px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  text-transform: uppercase;
}
.footer .foot__textsDiv__bottomDiv {
  display: flex;
  justify-content: center;
  gap: 40px;
  flex-wrap: wrap;
  margin-top: 30px;
}
.footer .foot__textsDiv__bottomDiv .botDivtext {
  color: #fff;
  font-family: Roboto;
  font-size: 15px;
  font-style: normal;
  font-weight: 400;
  line-height: 20px;
}
.footer .foot__textsDiv__bottomDiv .rightDiv {
  margin-left: 68px;
}

@media screen and (max-width: 320px) {
  .footer .foot__textsDiv__topDiv {
    text-align: center;
  }
  .footer .foot__textsDiv__topDiv li {
    width: 120px;
  }
  .footer .foot__textsDiv__bottomDiv {
    text-align: center;
  }
  .footer .foot__textsDiv__bottomDiv .rightDiv {
    margin-left: 0;
  }
}
.contact-section {
  margin-top: 170px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 46px;
}

.contact-header {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  gap: 450px;
  margin-bottom: 72px;
}
.contact-header h3 {
  color: #21282f;
  font-family: Roboto;
  font-size: 46px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}
.contact-header p {
  color: #21282f;
  font-family: Roboto;
  font-size: 20px;
  font-style: normal;
  font-weight: 700;
  line-height: 24px; /* 120% */
}

.inputs {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  gap: 13px;
}
.inputs input {
  border-radius: 8px;
  background: #fff;
  padding: 25px 26px;
  width: 351px;
  color: #21282f;
  font-family: Roboto;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: 24px; /* 171.429% */
  border: transparent;
}

textarea {
  border-radius: 8px;
  background: #fff;
  padding: 33px 27px;
  width: 1070px;
  height: 243px;
  border: transparent;
}

.contact-btn {
  border-radius: 35.616px;
  background: #2d404e;
  padding: 10px 40px;
  border: none;
  font-family: Roboto;
  font-size: 17px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  color: white;
  margin-bottom: 126px;
}
.contact-btn:hover {
  cursor: pointer;
}

@media screen and (max-width: 1115px) {
  .contact-header {
    gap: 350px;
  }
}
@media screen and (max-width: 1080px) {
  textarea {
    width: 970px;
    height: 143px;
  }
}
@media screen and (max-width: 990px) {
  textarea {
    width: 870px;
    height: 143px;
  }
}
@media screen and (max-width: 980px) {
  .contact-header {
    gap: 150px;
  }
}
@media screen and (max-width: 877px) {
  textarea {
    width: 670px;
    height: 143px;
  }
}
@media screen and (max-width: 780px) {
  .contact-header {
    gap: 70px;
  }
}
@media screen and (max-width: 700px) {
  .contact-header p {
    text-align: center;
    padding: 0, 20px;
  }
  textarea {
    width: 470px;
    height: 143px;
  }
}
@media screen and (max-width: 480px) {
  textarea {
    width: 350px;
    height: 143px;
  }
}
.fees-section {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 130px;
  margin-top: 170px;
}
.fees-section .header-item {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  gap: 450px;
  margin-bottom: 30px;
}
.fees-section .header-item h3 {
  color: #21282f;
  font-family: Roboto;
  font-size: 46px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}
.fees-section .header-item p {
  color: #21282f;
  font-family: Roboto;
  font-size: 20px;
  font-style: normal;
  font-weight: 700;
  line-height: 24px; /* 120% */
}
.fees-section .fees-main {
  display: flex;
  flex-wrap: wrap;
  align-items: flex-start;
  justify-content: center;
  gap: 160px;
}
.fees-section .fees-main .left-fee {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  gap: 90px;
  margin-bottom: 300px;
}
.fees-section .fees-main .left-fee h5 {
  color: #21282f;
  font-family: Roboto Slab;
  font-size: 20px;
  font-style: normal;
  font-weight: 700;
  line-height: 24px; /* 120% */
  padding-bottom: 20px;
}
.fees-section .fees-main .left-fee .fee-left-item {
  padding-top: 56px;
  border-top: 1px solid #2d404e;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 260px;
}
.fees-section .fees-main .left-fee .fee-left-item p {
  color: #21282f;
  font-family: Roboto;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: 140%; /* 19.6px */
}
.fees-section .fees-main .left-fee .nott {
  padding-top: 0;
  border-top: none;
}

.leftt {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  gap: 20px;
}

@media screen and (max-width: 1015px) {
  .fees-section .header-item {
    gap: 300px;
  }
}
@media screen and (max-width: 978px) {
  .fees-section .fees-main .left-fee {
    margin-bottom: 50px;
  }
}
@media screen and (max-width: 850px) {
  .fees-section .header-item {
    gap: 200px;
  }
}
@media screen and (max-width: 745px) {
  .fees-section .header-item {
    gap: 100px;
  }
}
@media screen and (max-width: 641px) {
  .fees-section .header-item {
    margin-bottom: 0;
  }
  .fees-section .header-item p {
    text-align: center;
  }
}
@media screen and (max-width: 460px) {
  .fees-section .fees-main .left-fee .fee-left-item {
    gap: 150px;
  }
  .fees-section .header-item p {
    padding: 0 15px;
  }
}
.WhyUse {
  position: relative;
  display: flex;
  padding: 70px 14px 70px 72px;
  align-items: start;
  justify-content: space-between;
  border-bottom: 1px solid #2d404e;
  gap: 500px;
}
.WhyUse__title {
  color: #21282f;
  font-family: Roboto;
  font-size: 46px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}
.WhyUse__text {
  color: #21282f;
  font-family: Roboto;
  font-size: 20px;
  font-style: normal;
  font-weight: 700;
  line-height: 24px;
}

.securePayment {
  position: relative;
  padding: 70px 80px 100px;
  display: flex;
  justify-content: space-between;
}
.securePayment h3 {
  color: #21282f;
  font-family: Roboto Slab;
  font-size: 20px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
}
.securePayment p {
  color: #21282f;
  font-family: Roboto;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  margin-bottom: 30px;
}

.text-img {
  display: flex;
  align-items: end;
}

@media (max-width: 1286px) {
  .WhyUse {
    padding: 70px 90px;
  }
}
@media (max-width: 1192px) {
  .WhyUse,
  .securePayment {
    width: 80%;
    align-content: center;
    flex-wrap: wrap;
    flex-direction: column;
    display: flex;
    align-items: ceneter;
    justify-content: ceneter;
    gap: 10px;
  }
}
@media (max-width: 697px) {
  .WhyUse {
    padding: 50px 40px;
  }
  .WhyUse__title {
    font-size: 40px;
  }
  .WhyUse__text {
    font-size: 18px;
  }
  .securePayment {
    padding: 50px 70px;
  }
}
@media (max-width: 600px) {
  .securePayment {
    padding: 50px 38px;
  }
}
.how-it {
  position: relative;
  display: flex;
  padding: 70px 14px 70px 78px;
  justify-content: space-between;
  border-bottom: 1px solid #2d404e;
  gap: 321px;
}

@media (max-width: 1286px) {
  .how-it {
    padding: 70px 90px;
  }
}
@media (max-width: 1192px) {
  .how-it,
  .securePayment {
    width: 80%;
    align-content: center;
    flex-wrap: wrap;
    flex-direction: column;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px;
  }
}
@media (max-width: 697px) {
  .WhyUse {
    padding: 50px 40px;
  }
  .WhyUse__title {
    font-size: 40px;
  }
  .WhyUse__text {
    font-size: 18px;
  }
  .securePayment {
    padding: 50px 70px;
  }
}
@media (max-width: 600px) {
  .securePayment {
    padding: 50px 38px;
  }
}
.qovun {
  margin-top: 175px;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  gap: 578px;
}

.tarvuz {
  margin-top: 75px;
  display: flex;
  flex-wrap: wrap;
  align-items: flex-start;
  justify-content: center;
  gap: 160px;
  margin-bottom: 280px;
}

.svgDiv {
  margin-top: 180px;
  display: flex;
  align-items: center;
  justify-content: center;
}

@media screen and (max-width: 1145px) {
  .qovun {
    gap: 370px;
  }
  .tarvuz {
    gap: 50px;
  }
}
@media screen and (max-width: 1035px) {
  .qovun {
    gap: 100px;
  }
  .tarvuz {
    gap: 40px;
  }
}
@media screen and (max-width: 773px) {
  .qovun {
    gap: 100px;
  }
}
.header {
  background: #f3f4f6;
  padding-bottom: 30px;
}
.header .topDiv {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap-reverse;
}
.header .topDiv__texts__h1 {
  width: 507px;
  color: #21282f;
  font-family: Roboto;
  font-size: 46px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}
.header .topDiv__texts__p {
  width: 352px;
  color: #21282f;
  font-family: Roboto;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: 18px;
  margin-top: 20px;
}
.header .topDiv__texts__btn {
  border-radius: 35.616px;
  background: #2d404e;
  padding: 10px 40px;
  border: none;
  font-family: Roboto;
  font-size: 17px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  color: #fff;
  margin-top: 50px;
}
.header .topDiv__texts__btn:hover {
  cursor: pointer;
}
.header .topDiv img {
  width: 650px;
}
.header .bottomDiv {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  gap: 65px;
  padding: 35px 0;
}
.header .bottomDiv__card {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 43px 54px;
  background: #fff;
}
.header .bottomDiv__card__PGT {
  color: #f4555a;
  font-family: Roboto Slab;
  font-size: 20px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  margin: 24px 0 36px;
}
.header .bottomDiv__card__texts {
  width: 238px;
  color: #2d404e;
  text-align: center;
  font-family: Roboto;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}

.oneSystem {
  background-image: url("./images/girl-good 1.png");
  background-repeat: no-repeat;
  background-size: 100% 100%;
  width: 100%;
  height: 713px;
  background-size: cover;
  background-position: center;
}

@media screen and (max-width: 1240px) {
  .header .topDiv__texts__h1 {
    width: 437px;
    font-size: 36px;
  }
  .header .topDiv img {
    width: 400px;
  }
}
@media screen and (max-width: 900px) {
  .header .topDiv__texts {
    display: flex;
    flex-direction: column;
  }
  .header .topDiv__texts__h1 {
    text-align: center;
  }
  .header .topDiv__texts__p {
    width: 407px;
    text-align: center;
  }
  .header .topDiv__texts__btn {
    border-radius: 35.616px;
    background: #2d404e;
    padding: 10px 40px;
    border: none;
    font-family: Roboto;
    font-size: 17px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    color: #fff;
    margin-top: 50px;
    align-self: center;
  }
  .header .topDiv__texts__btn:hover {
    cursor: pointer;
  }
}
@media screen and (max-width: 470px) {
  .header .topDiv__texts__h1 {
    width: 100%;
    font-size: 30px;
  }
  .header .topDiv__texts__p {
    width: 100%;
  }
  .header .topDiv img {
    width: 100%;
  }
  .header .bottomDiv__card {
    padding: 18px 29px;
  }
}

/*# sourceMappingURL=index.css.map */
